<script lang="ts">
  import type {
    NodeParameter,
    Reference,
  } from "@tax-benefit/openfisca-json-model"
  import { A, Li, List } from "flowbite-svelte"

  export let embeddedParameter: NodeParameter
  export let errors: { [key: string]: unknown }
  export let parameter: NodeParameter
  export let showErrors: boolean

  interface InstantReferences {
    instant: string
    references: Reference[]
  }
</script>

{#if embeddedParameter.children !== undefined}
  <ul class="ml-4">
    <List tag="ul" class="space-y-1" list="none" ulClass="">
      {#each Object.values(embeddedParameter.children) as child}
        <Li>
          <A class="pl-4 -indent-4" href="/{child.name}">{child.title}</A>
        </Li>
      {/each}
    </List>
  </ul>
{/if}
