<script lang="ts">
  import mdiFileTreeOutline from "@iconify-icons/mdi/file-tree-outline"
  import mdiGithub from "@iconify-icons/mdi/github"
  import {
    // isAmountScaleParameter,
    iterParameterAncestors,
    // newParameterRepositoryUrl,
    ParameterClass,
    parameterLastReviewOrChange,
    type Parameter,
  } from "@tax-benefit/openfisca-json-model"
  import {
    A,
    Breadcrumb,
    BreadcrumbItem,
    Button,
    Li,
    List,
  } from "flowbite-svelte"
  // import { getContext } from "svelte"

  import { page } from "$app/stores"
  import ScaleView from "$lib/components/parameters/ScaleView.svelte"
  //   import { metadata } from "$lib/metadata"
  import { newParameterRepositoryUrl } from "$lib/repositories"
  import {
    // asAmountScaleParameter,
    // asRateScaleParameter,
    buildInstantReferencesAndValueArray,
    // labelFromScaleType,
    // labelFromValueType,
  } from "$lib/parameters"
  import { getUnitShortLabel } from "$lib/units"
  //   import type { SelfTargetAProps } from "$lib/urls"

  export let embeddedParameter: Parameter
  export let parameter: Parameter

  const dateFormatter = new Intl.DateTimeFormat("fr-FR", { dateStyle: "full" })
  //   const newSelfTargetAProps = getContext("newSelfTargetAProps") as (
  //     url: string,
  //   ) => SelfTargetAProps

  $: ({ data } = $page)

  $: lastReviewOrChange = parameterLastReviewOrChange(parameter)

  $: ({ parametersRepository, unitByName } = data)

  $: parameterRepositoryUrl = newParameterRepositoryUrl(
    parametersRepository,
    parameter,
  )
</script>

<Breadcrumb
  aria-label="Chemin d'accès au paramètre dans l'arborescence des paramètres"
  class="py-4"
>
  {#if embeddedParameter.id === undefined}
    <BreadcrumbItem home>
      <iconify-icon
        class="mr-1 align-[-0.3rem] text-lg"
        icon={mdiFileTreeOutline}
        slot="icon"
      />
      Paramètres</BreadcrumbItem
    >
  {:else}
    <BreadcrumbItem href="/" home>
      <iconify-icon
        class="mr-1 align-[-0.3rem] text-lg"
        icon={mdiFileTreeOutline}
        slot="icon"
      />
      Paramètres</BreadcrumbItem
    >
    {#each [...iterParameterAncestors(embeddedParameter.parent)] as ancestor}
      <BreadcrumbItem href="/{ancestor.name}"
        >{ancestor.short_label ??
          ancestor.id?.replace(/_/g, " ")}</BreadcrumbItem
      >
    {/each}
    <BreadcrumbItem
      >{embeddedParameter.short_label ??
        embeddedParameter.id?.replace(/_/g, " ")}</BreadcrumbItem
    >
  {/if}
</Breadcrumb>

<main class="flex-col items-start">
  <hgroup class="my-4">
    <h2 class="text-3xl font-bold dark:text-white">
      {parameter.name === "" ? "Paramètres" : parameter.title}
    </h2>
    {#if parameter.description !== undefined && parameter.description !== parameter.title}
      <h3 class="text-lg font-normal text-gray-500 dark:text-gray-400">
        {parameter.description}
      </h3>
    {/if}
  </hgroup>

  {#if parameter.class !== ParameterClass.Node}
    <div class="inline-flex items-center">
      {#if lastReviewOrChange === undefined}
        <!-- Inspired from Material Icons name: Warning / with white symbol inside -->

        <svg
          aria-hidden="true"
          class="mr-1 h-6 w-6 items-center fill-current text-[#FFAC33]"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.124322 18.4377C-0.240619 19.1041 0.241623 19.918 1.00142 19.918H20.6259C21.3857 19.918 21.868 19.1041 21.503 18.4377L11.6908 0.519686C11.3113 -0.173228 10.316 -0.173229 9.93658 0.519685L0.124322 18.4377ZM11.8591 16.8375C11.8591 17.3898 11.4114 17.8375 10.8591 17.8375H10.7682C10.2159 17.8375 9.76822 17.3898 9.76822 16.8375V16.627C9.76822 16.0747 10.2159 15.627 10.7682 15.627H10.8591C11.4114 15.627 11.8591 16.0747 11.8591 16.627V16.8375ZM11.8591 12.7416C11.8591 13.2938 11.4114 13.7416 10.8591 13.7416H10.7682C10.2159 13.7416 9.76822 13.2938 9.76822 12.7416V7.3298C9.76822 6.77751 10.2159 6.3298 10.7682 6.3298H10.8591C11.4114 6.3298 11.8591 6.77751 11.8591 7.3298V12.7416Z"
          />
        </svg>
      {:else}
        <!-- Inspired from Material Icons name: New Releases / with white symbol inside -->
        <svg
          aria-hidden="true"
          class="mr-1 h-6 w-6 items-center fill-current"
          viewBox="0 0 24 23"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22 10.5L19.56 7.71L19.9 4.02L16.29 3.2L14.4 0L11 1.46L7.6 0L5.71 3.19L2.1 4L2.44 7.7L0 10.5L2.44 13.29L2.1 16.99L5.71 17.81L7.6 21L11 19.53L14.4 20.99L16.29 17.8L19.9 16.98L19.56 13.29L22 10.5ZM9.09 15.22L5.29 11.41L6.77 9.93L9.09 12.26L14.94 6.39L16.42 7.87L9.09 15.22Z"
            fill="#13CC03"
          />
          <path
            d="M9.09004 15.2187L5.29004 11.4087L6.77004 9.92867L9.09004 12.2587L14.94 6.38867L16.42 7.86867L9.09004 15.2187Z"
            fill="white"
          />
        </svg>
      {/if}
      <p class="text-sm text-black">
        {#if lastReviewOrChange !== undefined}Ce paramètre a été {#if parameter.last_value_still_valid_on === lastReviewOrChange}
            vérifié
          {:else}
            mis à jour
          {/if}
          le
          <span class="font-bold"
            >{dateFormatter.format(new Date(lastReviewOrChange))}
          </span>
        {:else}
          Ce paramètre n'a pas de date de relecture connue.
        {/if}
        ⎪
      </p>
    </div>
  {/if}

  {#if parameter.class === ParameterClass.Node}
    {#if parameter.children !== undefined}
      <List tag="ul" class="space-y-1" list="none" ulClass="">
        {#each Object.values(parameter.children) as child}
          <Li>
            <A class="pl-4 -indent-4" href="/{child.name}">{child.title}</A>
          </Li>
        {/each}
      </List>
    {/if}
  {:else if parameter.class === ParameterClass.Scale}
    <ScaleView {parameter} />
  {:else if parameter.class === ParameterClass.Value}
    <!--Tableau des valeurs-->
    <div class="pb-5 ">
      <h2 class="pt-7 pb-3 text-xl font-bold">Historique des valeurs</h2>
      <table class="w-full table-auto border-collapse bg-gray-100 text-sm">
        <thead>
          <tr>
            <th class="border bg-white p-1 text-center font-bold">Date</th>
            <!-- <th class="border p-1 text-center">Nom</th> -->
            <th class="border bg-white p-1 text-center font-bold">Valeur</th>
            <th class="border bg-white p-1 text-center font-bold">Unité</th>
            <th class="items-center border bg-white p-1 text-center font-bold"
              ><!--Material UI Icon Assignment-->
              <svg
                class="mr-1 inline-flex h-4 w-4 fill-current"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
                ><path d="M0 0h24v24H0V0z" fill="none" /><path
                  d="M7 15h7v2H7zm0-4h10v2H7zm0-4h10v2H7zm12-4h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-.14 0-.27.01-.4.04-.39.08-.74.28-1.01.55-.18.18-.33.4-.43.64-.1.23-.16.49-.16.77v14c0 .27.06.54.16.78s.25.45.43.64c.27.27.62.47 1.01.55.13.02.26.03.4.03h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75-.75-.34-.75-.75.34-.75.75-.75zM19 19H5V5h14v14z"
                /></svg
              >Références législatives</th
            >
          </tr>
        </thead>
        <tbody>
          {#each buildInstantReferencesAndValueArray(parameter) as { instant, references, valueAtInstant }}
            <tr>
              <td class="border p-1 text-center font-serif">{instant}</td>
              {#if valueAtInstant === undefined}
                <td class="border p-1 text-center italic" colspan="2" />
              {:else if valueAtInstant === "expected"}
                <td class="border p-1 text-center italic" colspan="3"
                  >valeur attendue</td
                >
              {:else}
                <!-- TODO: Handle when valueAtInstant.value is a string array or a string by string dict. -->
                <td class="border p-1 text-center font-serif"
                  >{(valueAtInstant.unit ?? parameter.unit) == "/1" &&
                  typeof valueAtInstant.value === "number"
                    ? parseFloat((valueAtInstant.value * 100).toFixed(8)) // trick to round value * 100
                    : valueAtInstant.value ?? ""}</td
                >
                <td class="border p-1 text-center"
                  >{getUnitShortLabel(
                    unitByName,
                    valueAtInstant.unit ?? parameter.unit,
                    instant,
                  )}</td
                >
              {/if}
              {#if valueAtInstant !== "expected"}
                <td class="border p-1 text-center font-serif text-xs"
                  >{#if references.length > 0}
                    <ul>
                      {#each references as { href, note, title }}
                        <li>
                          {#if href === undefined}{title}{:else}<a
                              class="link"
                              {href}
                              rel="noreferrer"
                              target="_blank">{title ?? "source"}</a
                            >{/if}
                          {#if note}
                            <p>{note}</p>
                          {/if}
                        </li>
                      {/each}
                    </ul>{/if}</td
                >
              {/if}
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
    <!--Fin du tableau des valeurs-->
  {/if}

  {#if parameter.documentation !== undefined || parameterRepositoryUrl !== undefined}
    <h2 class="mt-7 pb-3 text-xl font-bold">Caractéristiques</h2>
    <div>
      <!-- {#if parameter.class === ParameterClass.Node}
            {#if parameter.unit !== undefined}
              <div class="font-base my-1 flex border-b py-1 ">
                <p class="mr-1">
                  Unité du paramètre&nbsp;:: <span class="font-bold">
                    {getUnitShortLabel(unitByName, parameter.unit, date)}</span
                  >
                </p>
              </div>
            {/if}
          {:else if parameter.class === ParameterClass.Scale}
            <div>
              <p class="font-base my-1 mr-1 flex py-1">
                Barème&nbsp; <span class="font-bold">
                  {labelFromScaleType(parameter.type)}</span
                >
              </p>
              {#if parameter.threshold_unit !== undefined}
                <p class="font-base my-1 mr-1 flex py-1">
                  Unité de seuil&nbsp; <span class="font-bold">
                    {getUnitShortLabel(
                      unitByName,
                      parameter.threshold_unit,
                      date,
                    )}</span
                  >
                </p>
              {/if}
              {#if isAmountScaleParameter(parameter)}
                {#if asAmountScaleParameter(parameter).amount_unit !== undefined}
                  <p class="font-base my-1 mr-1 flex py-1">
                    Unité de montant&nbsp;  <span class="font-bold">
                      {getUnitShortLabel(
                        unitByName,
                        asAmountScaleParameter(parameter).amount_unit,
                        date,
                      )}</span
                    >
                  </p>
                {/if}
              {:else if asRateScaleParameter(parameter).rate_unit !== undefined}
                <p class="font-base my-1 mr-1 flex py-1">
                  Unité de taux&nbsp; <span class="font-bold">
                    {getUnitShortLabel(
                      unitByName,
                      asRateScaleParameter(parameter).rate_unit,
                      date,
                    )}</span
                  >
                </p>
              {/if}
            </div>
          {:else if parameter.class === ParameterClass.Value}
            <p class="font-base my-1 mr-1 flex py-1">
              Valeur de type&nbsp; <span class="font-bold"
                >{labelFromValueType(parameter.type)}</span
              >
            </p>
            {#if parameter.unit !== undefined}
              <div class="font-base my-1 flex py-1">
                <p class="mr-1">
                  Unité de la valeur&nbsp; <span class="font-bold"
                    >{getUnitShortLabel(unitByName, parameter.unit, date)}</span
                  >
                </p>
              </div>
            {/if}
          {/if} -->
      {#if parameter.documentation !== undefined}
        <section class="mr-1">
          Documentation&nbsp;:
          <div class="whitespace-pre-wrap italic">
            {parameter.documentation}
          </div>
        </section>
      {/if}
      {#if parameterRepositoryUrl !== undefined}
        <div class="font-base my-1">
          <A href={parameterRepositoryUrl} rel="noreferrer" target="_blank"
            ><iconify-icon class="mr-1" icon={mdiGithub} />
            Voir le code source</A
          >
        </div>
      {/if}
    </div>
  {/if}

  <div class="my-4 flex justify-end">
    <Button
      disabled={parameter.file_path === undefined}
      href="/{parameter.name === '' ? '' : `${parameter.name}/`}edit"
      title={parameter.file_path === undefined
        ? `L'édition du paramètre "${
            parameter.name || "racine"
          }" est impossible car le paramètre est généré automatiquement et n'a pas de fichier source.`
        : undefined}
    >
      Modifier
    </Button>
  </div>
</main>
