<script lang="ts">
  import { auditHttpUrl, auditTrimString, laxAudit } from "@auditors/core"
  import type { Reference } from "@tax-benefit/openfisca-json-model"
  import { createEventDispatcher } from "svelte"

  import { auditEditedAttribute } from "$lib/errors"

  export let errors: { [key: string]: unknown }
  export let showErrors: boolean
  export let reference: Reference

  const dispatch = createEventDispatcher()
  let oldReference = reference

  function changeHref({ target }: Event) {
    const { value } = target as HTMLInputElement
    ;[reference, errors] = auditEditedAttribute(
      laxAudit,
      reference,
      "href",
      value,
      true,
      errors,
      auditHttpUrl,
    )
    dispatch("change", reference)
  }

  function changeNote({ target }: Event) {
    const { value } = target as HTMLInputElement
    ;[reference, errors] = auditEditedAttribute(
      laxAudit,
      reference,
      "note",
      value,
      true,
      errors,
      auditTrimString,
    )
    dispatch("change", reference)
  }

  function changeTitle({ target }: Event) {
    const { value } = target as HTMLInputElement
    ;[reference, errors] = auditEditedAttribute(
      laxAudit,
      reference,
      "title",
      value,
      true,
      errors,
      auditTrimString,
    )
    dispatch("change", reference)
  }
</script>

<label class="flex-col ">
  <p class="mt-1">Description</p>
  {#if reference.title !== oldReference.title}
    <s class="font-serif text-sm text-black">{oldReference.title ?? "absent"}</s
    >
  {/if}
  <input
    class="w-full rounded-t border-b border-gray-400 py-1 font-serif text-sm text-black"
    type="text"
    on:change={changeTitle}
    value={reference.title ?? ""}
  />
  {#if showErrors && errors.title !== undefined}
    <p>{errors.title}</p>
  {/if}
</label>
<label class="flex-col">
  <p class="mt-1">Lien URL</p>
  {#if reference.href !== oldReference.href}
    <s class="font-serif text-sm text-black">{oldReference.href ?? "absent"}</s>
  {/if}
  <input
    class="w-full rounded-t border-b border-gray-400 py-1 font-serif text-sm text-black"
    type="url"
    on:change={changeHref}
    value={reference.href ?? ""}
  />
  {#if showErrors && errors.href !== undefined}
    <p>{errors.href}</p>
  {/if}
</label>

<label class="flex-col">
  <p class="mt-1">Notes</p>
  {#if reference.note !== oldReference.note}
    <s class="font-serif text-sm text-black">{oldReference.note ?? "absent"}</s>
  {/if}
  <input
    class="w-full rounded-t border-b border-gray-400 py-1 font-serif text-sm text-black"
    type="text"
    on:change={changeNote}
    value={reference.note ?? ""}
  />
  {#if showErrors && errors.note !== undefined}
    <p>{errors.note}</p>
  {/if}
</label>
