<script lang="ts">
  import materialSymbolsAddCircle from "@iconify-icons/material-symbols/add-circle"
  import mdiDelete from "@iconify-icons/mdi/delete"
  import type { Reference } from "@tax-benefit/openfisca-json-model"
  import { Button } from "flowbite-svelte"
  import { createEventDispatcher } from "svelte"

  import ReferenceEdit from "$lib/components/parameters/ReferenceEdit.svelte"
  import { errorAsKeyValueDictionary, iterArrayWithErrors } from "$lib/errors"

  export let errors: { [key: string]: unknown }
  export let references: Reference[]
  export let showErrors: boolean

  const dispatch = createEventDispatcher()

  function appendReference() {
    references = [...references, {}]
    dispatch("change", references)
  }

  function changeReference(index: number, { detail }: CustomEvent) {
    const reference = detail as Reference
    references = [...references]
    references[index] = reference
    dispatch("change", references)
  }

  function deleteReference(index: number) {
    references = [...references]
    references.splice(index, 1)
    dispatch("change", references)
  }
</script>

<section class="rounded-b-md p-2">
  <div class="text-sm text-black">Références législatives&nbsp;:</div>
  <div class="flex-col">
    {#each [...iterArrayWithErrors(references, errors)] as [reference, errorsAtIndex], index}
      {#if index > 0}
        <hr class="my-4" />
      {/if}
      <div class="mr-2 flex items-start">
        <div class="grow">
          <ReferenceEdit
            errors={errorAsKeyValueDictionary(errorsAtIndex)}
            on:change={(event) => changeReference(index, event)}
            {reference}
            {showErrors}
          />
        </div>
        <Button
          class="ml-1 !border-0 !p-1"
          color="red"
          on:click={() => deleteReference(index)}
          outline
          pill
          title="Supprimer la référence"
          type="button"
        >
          <iconify-icon class="text-2xl" icon={mdiDelete} />
        </Button>
      </div>
    {/each}
  </div>
  <Button
    class="my-4"
    color="alternative"
    on:click={appendReference}
    type="button"
  >
    <iconify-icon class="mr-1 text-2xl" icon={materialSymbolsAddCircle} />
    Ajouter une référence
  </Button>
</section>
