<script lang="ts">
  import { auditDateIso8601String, laxAudit } from "@auditors/core"
  import mdiDelete from "@iconify-icons/mdi/delete"
  import {
    bracketsFromScaleByInstant,
    isAmountScaleParameter,
    isRateScaleParameter,
    ScaleType,
    type Reference,
    type ScaleAtInstant,
    type ScaleParameter,
  } from "@tax-benefit/openfisca-json-model"
  import { Button } from "flowbite-svelte"
  import rfdc from "rfdc"

  import { page } from "$app/stores"
  import ReferencesEdit from "$lib/components/parameters/ReferencesEdit.svelte"
  import ScaleAtInstantEdit from "$lib/components/parameters/ScaleAtInstantEdit.svelte"
  import { errorAsKeyValueDictionary, iterArrayWithErrors } from "$lib/errors"
  import { iterToLimit } from "$lib/iterators"
  import {
    asAmountScaleParameter,
    asRateScaleParameter,
    buildInstantReferencesAndScaleArray,
    labelFromScaleType,
  } from "$lib/parameters"
  import { getUnitLabel } from "$lib/units"

  export let errors: { [key: string]: unknown }
  export let parameter: ScaleParameter
  export let reviewed: boolean
  export let showErrors: boolean

  const deepCopy = rfdc()
  let instantReferencesAndScaleArray =
    buildInstantReferencesAndScaleArray(parameter)
  let showAll = false
  const useBase = false

  $: ({ data } = $page)

  $: isAmountScale = isAmountScaleParameter(parameter)

  $: ({ unitByName, units } = data)

  function addInstantReferencesAndScale() {
    const newScaleAtInstant =
      instantReferencesAndScaleArray.length === 0
        ? [
            isAmountScale
              ? { amount: { value: null }, threshold: { value: null } }
              : {
                  base: { value: null },
                  rate: { value: null },
                  threshold: { value: null },
                },
          ]
        : deepCopy(instantReferencesAndScaleArray[0][1])
    instantReferencesAndScaleArray = [
      {
        instant: new Date().toISOString().split("T")[0],
        references: [],
        scaleAtInstant: newScaleAtInstant,
      },
      ...instantReferencesAndScaleArray,
    ]

    updateParameter()
  }

  function changeInstant(index: number, { target }: Event) {
    const { value: instant } = target as HTMLInputElement
    const [validInstant, error] = auditDateIso8601String(laxAudit, instant)

    let errorAtIndex = errors[index] as { [index: string]: unknown } | undefined
    if (error === null) {
      if (errorAtIndex !== undefined && errorAtIndex[0] !== undefined) {
        errorAtIndex = { ...errorAtIndex }
        delete errorAtIndex[0]
        if (Object.keys(errorAtIndex).length === 0) {
          errors = { ...errors }
          delete errors[index]
        } else {
          errors = { ...errors, [index]: errorAtIndex }
        }
      }
    } else if (errorAtIndex === undefined) {
      errors = { ...errors, [index]: { 0: error } }
    } else if (error !== errorAtIndex[0]) {
      errors = { ...errors, [index]: { ...errorAtIndex, 0: error } }
    }

    instantReferencesAndScaleArray = [...instantReferencesAndScaleArray]
    instantReferencesAndScaleArray[index] = {
      ...instantReferencesAndScaleArray[index],
      instant: validInstant,
    }

    updateParameter()
  }

  function changeReferences(index: number, { detail }: CustomEvent) {
    const references = detail as Reference[]
    instantReferencesAndScaleArray = [...instantReferencesAndScaleArray]
    instantReferencesAndScaleArray[index] = {
      ...instantReferencesAndScaleArray[index],
      references,
    }

    updateParameter()
  }

  function changeScaleAtInstant(index: number, { detail }: CustomEvent) {
    const scaleAtInstant = detail as ScaleAtInstant
    instantReferencesAndScaleArray = [...instantReferencesAndScaleArray]
    instantReferencesAndScaleArray[index] = {
      ...instantReferencesAndScaleArray[index],
      scaleAtInstant,
    }

    updateParameter()
  }

  function deleteScaleAtInstant(index: number) {
    instantReferencesAndScaleArray = [...instantReferencesAndScaleArray]
    instantReferencesAndScaleArray.splice(index, 1)

    updateParameter()
  }

  function updateParameter(): void {
    const referencesByInstant: { [instant: string]: Reference[] } = {}
    const scaleByInstant: { [instant: string]: ScaleAtInstant } = {}
    for (const {
      instant,
      references,
      scaleAtInstant,
    } of instantReferencesAndScaleArray) {
      if (references.length > 0) {
        referencesByInstant[instant] = references
      }
      if (scaleAtInstant !== undefined) {
        scaleByInstant[instant] = scaleAtInstant
      }
    }
    parameter = { ...parameter }
    if (Object.keys(referencesByInstant).length > 0) {
      parameter.reference = referencesByInstant
    }
    if (Object.keys(scaleByInstant).length > 0) {
      parameter.brackets = bracketsFromScaleByInstant(scaleByInstant)
    }
  }
</script>

<div class="my-auto mb-4 flex">
  <!--Colonne 1 présentant les valeurs-->
  <div class="mr-2 w-2/3 flex-col items-center">
    <div class="mb-2 flex-col ">
      {#each [...iterToLimit(iterArrayWithErrors(instantReferencesAndScaleArray, errors), showAll ? null : 3)] as [{ instant, references, scaleAtInstant }, error], index}
        <div class="flex items-start">
          <div class="mb-4 w-full rounded border bg-gray-100 ">
            <div class="flex-col">
              <div class="p-2">
                <label class="mt-1 text-base text-gray-600">
                  Barème en vigueur depuis
                  <input
                    class="rounded bg-white p-1 font-serif text-sm font-bold"
                    max="{new Date().getFullYear() + 20}-01-01"
                    min="1900-01-01"
                    on:change={(event) => changeInstant(index, event)}
                    type="date"
                    value={instant}
                  />
                  {#if showErrors && error?.[0] !== undefined}
                    <p>{error[0]}</p>
                  {/if}
                </label>
              </div>
              <div class="mb-4 p-2 text-xs text-gray-500">
                {#if scaleAtInstant !== undefined}
                  <ScaleAtInstantEdit
                    date={instant}
                    errors={errorAsKeyValueDictionary(error?.[1])}
                    on:change={(event) => changeScaleAtInstant(index, event)}
                    {parameter}
                    {scaleAtInstant}
                    {showErrors}
                  />
                {/if}
              </div>
              <div class="text-xs text-gray-500 ">
                <ReferencesEdit
                  errors={errorAsKeyValueDictionary(error?.[1])}
                  on:change={(event) => changeReferences(index, event)}
                  {references}
                  {showErrors}
                />
              </div>
            </div>
          </div>
          <Button
            class="ml-1 !border-0 !p-1"
            color="red"
            on:click={() => deleteScaleAtInstant(index)}
            outline
            pill
            title="Supprimer la date et sa valeur"
            type="button"
          >
            <iconify-icon class="text-2xl" icon={mdiDelete} />
          </Button>
        </div>
      {/each}
    </div>
    {#if instantReferencesAndScaleArray.length > 3}
      <button
        class="ml-8 mb-4 flex items-center rounded bg-gray-100 px-5 py-2 text-sm uppercase text-black shadow-md hover:bg-gray-300"
        on:click={() => (showAll = !showAll)}
        type="button"
      >
        {#if showAll}
          <!-- material icons - Expand Less -->
          <svg
            class="mr-1 inline fill-current"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
            ><path d="M0 0h24v24H0z" fill="none" /><path
              d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"
            /></svg
          >
        {:else}
          <!-- material icons - Expand More -->
          <svg
            class="mr-1 inline fill-current"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
            ><path d="M0 0h24v24H0z" fill="none" /><path
              d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"
            /></svg
          >
        {/if}
        {#if showAll}Masquer{:else}Montrer tous les barèmes{/if}</button
      >
    {/if}
  </div>

  <!--Colonne 2 pour ajouter un paramètre ou valider les dernières valeurs-->
  <div class="ml-2 w-1/3">
    <div class="my-2 flex justify-start">
      <button
        class="inline-flex items-center rounded p-2 text-sm uppercase text-white shadow-md"
        on:click={addInstantReferencesAndScale}
        type="button"
      >
        <!-- material icons - Plus -->
        <svg
          class="mr-1 w-10 items-center fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="#000000"
          ><path d="M0 0h24v24H0z" fill="none" /><path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
          /></svg
        >Nouveau barème
      </button>
    </div>

    <p class="text-xs text-gray-500">Ou bien :</p>
    <label class="block">
      <input bind:checked={reviewed} class="checked rounded" type="checkbox" />
      Confirmer l'exactitude de la valeur la plus récente.
    </label>
  </div>
</div>

<h2 class="pt-7 pb-3 text-xl font-bold">Modifications avancées du barème :</h2>

<div class="mt-4 mb-2 flex-col">
  {#if isAmountScaleParameter(parameter)}
    {#if asAmountScaleParameter(parameter).amount_unit !== undefined}
      <label class="flex text-base">
        Unité de montant&nbps;:
        <select
          class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
          required={showErrors}
          bind:value={parameter.amount_unit}
        >
          {#if asAmountScaleParameter(parameter).amount_unit === undefined}
            <option selected value={undefined}>Non précisée</option>
          {/if}
          {#each units as unit}
            <option value={unit.name}
              >{getUnitLabel(unitByName, unit.name, undefined)}</option
            >
          {/each}
        </select>
        {#if showErrors && errors.amount_unit !== undefined}
          <p>{errors.amount_unit}</p>
        {/if}
      </label>
    {/if}
  {:else if asRateScaleParameter(parameter).rate_unit !== undefined}
    <label class="flex text-base">
      Unité de taux&nbsp;:
      <select
        class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
        required={showErrors}
        bind:value={parameter.rate_unit}
      >
        {#if asRateScaleParameter(parameter).rate_unit === undefined}
          <option selected value={undefined}>Non précisée</option>
        {/if}
        {#each units as unit}
          <option value={unit.name}
            >{getUnitLabel(unitByName, unit.name, undefined)}</option
          >
        {/each}
      </select>
      {#if showErrors && errors.rate_unit !== undefined}
        <p>{errors.rate_unit}</p>
      {/if}
    </label>
  {/if}

  <div class="mb-2 flex">
    <label class="flex text-base">
      Type de barème&nbsp;:
      <select
        class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
        required={showErrors}
        bind:value={parameter.type}
      >
        {#if parameter.type === undefined}
          <option disabled selected value={undefined}>Sélectionnez…</option>
        {/if}
        {#each Object.values(ScaleType) as type}
          <option value={type}>{labelFromScaleType(type)}</option>
        {/each}
      </select>
      {#if showErrors && errors.type !== undefined}
        <p>{errors.type}</p>
      {/if}
    </label>
  </div>
  <div class="mb-2 flex">
    {#if isRateScaleParameter(parameter)}
      <label class="flex items-center text-base">
        Barème avec base&nbsp;:
        <input
          class="checked m-1 rounded p-1 text-sm accent-gray-500"
          checked={useBase}
          type="checkbox"
        />
        <span class="text-sm">oui</span>
        {#if showErrors && errors.useBase !== undefined}
          <p>{errors.useBase}</p>
        {/if}
      </label>
    {/if}
  </div>
  <div class="mb-2 flex">
    <label class="flex text-base">
      Unité de seuil&nbsp;:
      <select
        class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
        required={showErrors}
        bind:value={parameter.threshold_unit}
      >
        {#if parameter.threshold_unit === undefined}
          <option selected value={undefined}>Non précisée</option>
        {/if}
        {#each units as unit}
          <option value={unit.name}
            >{getUnitLabel(unitByName, unit.name, undefined)}</option
          >
        {/each}
      </select>
      {#if showErrors && errors.threshold_unit !== undefined}
        <p>{errors.threshold_unit}</p>
      {/if}
    </label>
  </div>
</div>
