<script lang="ts">
  import { auditStringToNumber, laxAudit } from "@auditors/core"
  import mdiDelete from "@iconify-icons/mdi/delete"
  import {
    isAmountScaleParameter,
    scaleParameterUsesBase,
    ScaleType,
    type AmountBracketAtInstant,
    type BracketAtInstant,
    type MaybeNumberValue,
    type NumberValue,
    type RateBracketAtInstant,
    type ScaleAtInstant,
    type ScaleParameter,
  } from "@tax-benefit/openfisca-json-model"
  import { Button } from "flowbite-svelte"
  import { createEventDispatcher } from "svelte"

  import { page } from "$app/stores"
  import { errorAsKeyValueDictionary, iterArrayWithErrors } from "$lib/errors"
  import {
    asAmountBracketAtInstant,
    asAmountScaleParameter,
    asRateBracketAtInstant,
    asRateScaleParameter,
  } from "$lib/parameters"
  import { getUnitShortLabel } from "$lib/units"

  export let date: string
  export let errors: { [key: string]: unknown }
  export let parameter: ScaleParameter
  export let scaleAtInstant: ScaleAtInstant | undefined | null
  export let showErrors: boolean

  const dispatch = createEventDispatcher()

  $: ({ data } = $page)

  $: isAmountScale = isAmountScaleParameter(parameter)

  $: ({ unitByName } = data)

  $: usesBase = scaleParameterUsesBase(parameter)

  function appendBracket() {
    const bracket: BracketAtInstant = [
      ScaleType.MarginalAmount,
      ScaleType.SingleAmount,
    ].includes(parameter.type)
      ? {
          amount: { value: null } as unknown as NumberValue,
          threshold: { value: null } as MaybeNumberValue,
        }
      : {
          // base: { value: null } as NumberValue,
          rate: { value: null } as MaybeNumberValue,
          threshold: { value: null } as MaybeNumberValue,
        }
    scaleAtInstant = [...(scaleAtInstant as ScaleAtInstant), bracket]
  }

  function changeValue(
    index: number,
    key: keyof AmountBracketAtInstant | keyof RateBracketAtInstant,
    unitName: string | undefined | null,
    { target }: Event,
  ) {
    const { value } = target as HTMLInputElement
    let [validValue, error] = auditStringToNumber(laxAudit, value)
    let errorsAtIndex = errors[index] as { [key: string]: unknown } | undefined
    if (error === null) {
      if (unitName === "/1") {
        validValue = validValue / 100
      }
      if (errorsAtIndex?.[key] !== undefined) {
        errorsAtIndex = { ...errorsAtIndex }
        delete errorsAtIndex[key]
        errors = { ...errors }
        if (Object.keys(errorsAtIndex).length === 0) {
          delete errors[index]
        }
      }
    } else {
      if (error !== errorsAtIndex?.[key]) {
        errors = {
          ...errors,
          [index]: { ...(errorsAtIndex ?? {}), amount: error },
        }
      }
    }
    scaleAtInstant = [...(scaleAtInstant as ScaleAtInstant)]
    const bracket = (scaleAtInstant[index] = {
      ...scaleAtInstant[index],
    }) as AmountBracketAtInstant & RateBracketAtInstant
    bracket[key] =
      bracket[key] === "expected"
        ? { value: validValue }
        : {
            ...(bracket[key] as unknown as { [key: string]: unknown }),
            value: validValue,
          }
    dispatch("change", scaleAtInstant)
  }

  function deleteBracket(index: number) {
    scaleAtInstant = [...(scaleAtInstant as ScaleAtInstant)]
    scaleAtInstant.splice(index, 1)
    dispatch("change", scaleAtInstant)
  }

  function valueFromMaybeNumberValueOrExpected(
    value: MaybeNumberValue | "expected" | undefined | null,
    unitName: string | undefined | null,
  ): number | string | null {
    if (value == null) {
      return null
    }
    if (value === "expected") {
      return "attendu"
    }
    const number = value.value
    if (number == null) {
      return null
    }
    return unitName === "/1"
      ? parseFloat((number * 100).toFixed(8)) // trick to round value * 100
      : number
  }
</script>

<div class="mx-4 flex-col rounded-sm bg-white p-2 shadow-inner">
  <div>
    <table class="table-auto border-collapse ">
      <thead>
        <tr>
          <th class="text-center text-sm font-light">Seuil</th>
          {#if isAmountScale}
            <th class="text-center text-sm font-light">Montant</th>
          {:else}
            {#if usesBase}
              <th class="text-center text-sm font-light">Base</th>
            {/if}
            <th class="text-center text-sm font-light">Taux</th>
          {/if}
          <th />
        </tr>
      </thead>
      <tbody>
        {#each [...iterArrayWithErrors(scaleAtInstant, errors)] as [bracketAtInstant, errorsAtIndex], index}
          <tr>
            <td class="p-1">
              <div class="flex items-center">
                <input
                  class="w-24 rounded-t border-b border-l-0 border-r-0 border-t-0 border-gray-400 bg-gray-100 p-1 py-0 font-serif text-lg text-black"
                  step="any"
                  type="number"
                  on:change={(event) =>
                    changeValue(
                      index,
                      "threshold",
                      parameter.threshold_unit,
                      event,
                    )}
                  value={valueFromMaybeNumberValueOrExpected(
                    bracketAtInstant.threshold,
                    parameter.threshold_unit,
                  )}
                />
                <span class="font-serif text-sm text-black">
                  {getUnitShortLabel(
                    unitByName,
                    parameter.threshold_unit,
                    date,
                  )}
                </span>
                {#if showErrors && errorAsKeyValueDictionary(errorAsKeyValueDictionary(errorsAtIndex).threshold).value !== undefined}
                  <p>
                    {errorAsKeyValueDictionary(
                      errorAsKeyValueDictionary(errorsAtIndex).threshold,
                    ).value}
                  </p>
                {/if}
              </div>
            </td>
            {#if isAmountScale}
              <td class="ml-2 border-l-2 p-3">
                <div class="flex items-center">
                  <input
                    class="w-24 rounded-t border-b border-l-0 border-r-0 border-t-0 border-gray-400 bg-gray-100 p-1 py-0 font-serif text-lg text-black"
                    step="any"
                    type="number"
                    on:change={(event) =>
                      changeValue(
                        index,
                        "amount",
                        asAmountScaleParameter(parameter).amount_unit,
                        event,
                      )}
                    value={valueFromMaybeNumberValueOrExpected(
                      asAmountBracketAtInstant(bracketAtInstant).amount,
                      asAmountScaleParameter(parameter).amount_unit,
                    )}
                  />
                  <span class="font-serif text-base">
                    {getUnitShortLabel(
                      unitByName,
                      asAmountScaleParameter(parameter).amount_unit,
                      date,
                    )}
                  </span>
                  {#if showErrors && errorAsKeyValueDictionary(errorAsKeyValueDictionary(errorsAtIndex).amount).value !== undefined}
                    <p>
                      {errorAsKeyValueDictionary(
                        errorAsKeyValueDictionary(errorsAtIndex).amount,
                      ).value}
                    </p>
                  {/if}
                </div>
              </td>
            {:else}
              {#if usesBase}
                <td class="ml-2 border-l-2 p-3 ">
                  <div class="flex items-center">
                    <input
                      class="w-24 rounded-t border-b border-l-0 border-r-0 border-t-0 border-gray-400 bg-gray-100 p-1 py-0 font-serif text-lg text-black"
                      step="any"
                      type="number"
                      on:change={(event) =>
                        changeValue(
                          index,
                          "base",
                          // TODO: Should be parameter.base_unit.
                          parameter.threshold_unit,
                          event,
                        )}
                      value={valueFromMaybeNumberValueOrExpected(
                        asRateBracketAtInstant(bracketAtInstant).base,
                        // TODO: Should be parameter.base_unit.
                        parameter.threshold_unit,
                      )}
                    />
                    <span class="font-serif text-base">
                      <!-- TODO: Should be parameter.base_unit. -->
                      {getUnitShortLabel(
                        unitByName,
                        parameter.threshold_unit,
                        date,
                      )}
                    </span>
                    {#if showErrors && errorAsKeyValueDictionary(errorAsKeyValueDictionary(errorsAtIndex).base).value !== undefined}
                      <p>
                        {errorAsKeyValueDictionary(
                          errorAsKeyValueDictionary(errorsAtIndex).base,
                        ).value}
                      </p>
                    {/if}
                  </div>
                </td>
              {/if}
              <td class="ml-2 border-l-2 p-3">
                <div class="flex items-center">
                  <input
                    class="w-24 rounded-t border-b border-l-0 border-r-0 border-t-0 border-gray-400 bg-gray-100 p-1 py-0 font-serif text-lg text-black"
                    step="any"
                    type="number"
                    on:change={(event) =>
                      changeValue(
                        index,
                        "rate",
                        asRateScaleParameter(parameter).rate_unit,
                        event,
                      )}
                    value={valueFromMaybeNumberValueOrExpected(
                      asRateBracketAtInstant(bracketAtInstant).rate,
                      asRateScaleParameter(parameter).rate_unit,
                    )}
                  />
                  <span class="font-serif text-base">
                    {getUnitShortLabel(
                      unitByName,
                      asRateScaleParameter(parameter).rate_unit,
                      date,
                    )}
                  </span>
                  {#if showErrors && errorAsKeyValueDictionary(errorAsKeyValueDictionary(errorsAtIndex).rate).value !== undefined}
                    <p>
                      {errorAsKeyValueDictionary(
                        errorAsKeyValueDictionary(errorsAtIndex).rate,
                      ).value}
                    </p>
                  {/if}
                </div>
              </td>
            {/if}
            <td>
              <Button
                class="ml-1 !border-0 !p-1"
                color="red"
                on:click={() => deleteBracket(index)}
                outline
                pill
                title="Supprimer"
                type="button"
              >
                <iconify-icon class="text-2xl" icon={mdiDelete} />
              </Button>
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  </div>

  <div>
    <button class="w-64 text-gray-600" on:click={appendBracket} type="button">
      <div class="mt-4 flex items-center pl-1 text-sm">
        <svg
          class="mr-1 inline fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="18px"
          viewBox="0 0 24 24"
          width="18px"
          fill="#000000"
          ><path d="M0 0h24v24H0z" fill="none" /><path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
          /></svg
        >Ajouter un seuil
      </div></button
    >
  </div>
</div>
