<script lang="ts">
  import {
    isAmountScaleParameter,
    scaleParameterUsesBase,
    type MaybeNumberValue,
    type ScaleParameter,
  } from "@tax-benefit/openfisca-json-model"

  import {
    asAmountBracketAtInstant,
    asAmountScaleParameter,
    asRateBracketAtInstant,
    asRateScaleParameter,
    buildInstantReferencesAndScaleArray,
  } from "$lib/parameters"

  export let parameter: ScaleParameter

  $: isAmountScale = isAmountScaleParameter(parameter)

  $: usesBase = scaleParameterUsesBase(parameter)

  function formatMaybeNumberValueOrExpected(
    value: MaybeNumberValue | "expected" | undefined | null,
    unit: string | undefined | null,
  ): number | string | null {
    if (value == null) {
      return null
    }
    if (value === "expected") {
      return "attendu"
    }
    const number = value.value
    if (number == null) {
      return null
    }
    return unit === "/1"
      ? parseFloat((number * 100).toFixed(8)) // trick to round value * 100
      : number
  }
</script>

<div class="pb-5 ">
  <h2 class="pt-7 pb-3 text-xl font-bold">Historique des barèmes</h2>
  <table class="w-full table-auto border-collapse bg-gray-100 text-sm">
    <thead>
      <tr>
        <th class="border bg-gray-100 p-1 text-center font-bold">Date</th>
        <th class="border bg-gray-100 p-1 text-center font-bold">Seuil</th>
        {#if isAmountScale}
          <th class="border bg-gray-100 p-1 text-center font-bold">Montant</th>
        {:else}
          {#if usesBase}
            <th class="border bg-gray-100 text-center font-bold">Base</th>
          {/if}
          <th class="border bg-gray-100 text-center font-bold">Taux</th>
          <th class="border bg-gray-100 text-center font-bold"
            ><!--Material UI Icon Assignment-->
            <svg
              class="mr-1 inline-flex h-4 w-4 fill-current"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
              ><path d="M0 0h24v24H0V0z" fill="none" /><path
                d="M7 15h7v2H7zm0-4h10v2H7zm0-4h10v2H7zm12-4h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-.14 0-.27.01-.4.04-.39.08-.74.28-1.01.55-.18.18-.33.4-.43.64-.1.23-.16.49-.16.77v14c0 .27.06.54.16.78s.25.45.43.64c.27.27.62.47 1.01.55.13.02.26.03.4.03h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75-.75-.34-.75-.75.34-.75.75-.75zM19 19H5V5h14v14z"
              /></svg
            >Références législatives</th
          >
        {/if}
      </tr>
    </thead>
    <tbody>
      {#each buildInstantReferencesAndScaleArray(parameter) as { instant, references, scaleAtInstant }}
        {#if scaleAtInstant === undefined}
          <tr>
            <td class="border p-1 text-center font-serif">{instant}</td>
            <td
              class="border p-1 text-center font-serif"
              colspan={usesBase ? 3 : 2}
            />
            <td class="border p-1 text-center font-serif text-xs"
              >{#if references.length > 0}
                <ul>
                  {#each references as { href, note, title }}
                    <li>
                      {#if href === undefined}{title}{:else}<a
                          class="link"
                          {href}
                          rel="noreferrer"
                          target="_blank">{title ?? "source"}</a
                        >{/if}
                      {#if note}
                        <p>{note}</p>
                      {/if}
                    </li>
                  {/each}
                </ul>{/if}</td
            >
          </tr>
        {:else}
          {#each scaleAtInstant as bracket, index}
            <tr>
              {#if index === 0}
                <td
                  class="border p-1 text-center font-serif"
                  rowspan={Object.keys(scaleAtInstant).length}>{instant}</td
                >
              {/if}
              <td class="border p-1 text-center font-serif"
                >{formatMaybeNumberValueOrExpected(
                  bracket.threshold,
                  parameter.threshold_unit,
                )}</td
              >
              {#if isAmountScale}
                <td class="border p-1 text-center font-serif"
                  >{formatMaybeNumberValueOrExpected(
                    asAmountBracketAtInstant(bracket).amount,
                    asAmountScaleParameter(parameter).amount_unit,
                  )}</td
                >
              {:else}
                {#if usesBase}
                  <td class="border p-1 text-center font-serif"
                    >{formatMaybeNumberValueOrExpected(
                      asRateBracketAtInstant(bracket).base,
                      // TODO: Should be parameter.base_unit.
                      parameter.threshold_unit,
                    )}</td
                  >
                {/if}
                <td class="border p-1 text-center font-serif"
                  >{formatMaybeNumberValueOrExpected(
                    asRateBracketAtInstant(bracket).rate,
                    asRateScaleParameter(parameter).rate_unit,
                  )}</td
                >
              {/if}
              {#if index === 0}
                <td
                  class="border p-1 text-center font-serif text-xs"
                  rowspan={Object.keys(scaleAtInstant).length}
                  >{#if references.length > 0}
                    <ul>
                      {#each references as { href, note, title }}
                        <li>
                          {#if href === undefined}{title}{:else}<a
                              class="link"
                              {href}
                              rel="noreferrer"
                              target="_blank">{title ?? "source"}</a
                            >{/if}
                          {#if note}
                            <p>{note}</p>
                          {/if}
                        </li>
                      {/each}
                    </ul>{/if}</td
                >
              {/if}
            </tr>
          {/each}
        {/if}
      {/each}
    </tbody>
  </table>
</div>
