<script lang="ts">
  import { auditDateIso8601String, laxAudit } from "@auditors/core"
  import materialSymbolsAddCircle from "@iconify-icons/material-symbols/add-circle"
  import mdiDelete from "@iconify-icons/mdi/delete"
  import type {
    Reference,
    ValueAtInstant,
    ValueParameter,
  } from "@tax-benefit/openfisca-json-model"
  import { Button } from "flowbite-svelte"

  import { page } from "$app/stores"
  import ReferencesEdit from "$lib/components/parameters/ReferencesEdit.svelte"
  import ValueAtInstantEdit from "$lib/components/parameters/ValueAtInstantEdit.svelte"
  import { errorAsKeyValueDictionary, iterArrayWithErrors } from "$lib/errors"
  import { iterToLimit } from "$lib/iterators"
  import { buildInstantReferencesAndValueArray } from "$lib/parameters"
  import { getUnitLabel } from "$lib/units"

  export let errors: { [key: string]: unknown }
  export let parameter: ValueParameter
  export let reviewed: boolean
  export let showErrors: boolean

  let instantReferencesAndValueArray =
    buildInstantReferencesAndValueArray(parameter)
  let showAll = false

  $: ({ data } = $page)

  $: ({ unitByName, units } = data)

  function addInstantReferencesAndValue() {
    instantReferencesAndValueArray = [
      {
        instant: new Date().toISOString().split("T")[0],
        references: [],
        valueAtInstant: { value: null },
      },
      ...instantReferencesAndValueArray,
    ]

    updateParameter()
  }

  function changeInstant(index: number, { target }: Event) {
    const { value: instant } = target as HTMLInputElement
    const [validInstant, error] = auditDateIso8601String(laxAudit, instant)

    let errorAtIndex = errors[index] as { [index: string]: unknown } | undefined
    if (error === null) {
      if (errorAtIndex !== undefined && errorAtIndex[0] !== undefined) {
        errorAtIndex = { ...errorAtIndex }
        delete errorAtIndex[0]
        if (Object.keys(errorAtIndex).length === 0) {
          errors = { ...errors }
          delete errors[index]
        } else {
          errors = { ...errors, [index]: errorAtIndex }
        }
      }
    } else if (errorAtIndex === undefined) {
      errors = { ...errors, [index]: { 0: error } }
    } else if (error !== errorAtIndex[0]) {
      errors = { ...errors, [index]: { ...errorAtIndex, 0: error } }
    }

    instantReferencesAndValueArray = [...instantReferencesAndValueArray]
    instantReferencesAndValueArray[index] = {
      ...instantReferencesAndValueArray[index],
      instant: validInstant,
    }

    updateParameter()
  }

  function changeReferences(index: number, { detail }: CustomEvent) {
    const references = detail as Reference[]
    instantReferencesAndValueArray = [...instantReferencesAndValueArray]
    instantReferencesAndValueArray[index] = {
      ...instantReferencesAndValueArray[index],
      references,
    }

    updateParameter()
  }

  function changeValueAtInstant(index: number, { detail }: CustomEvent) {
    const valueAtInstant = detail as ValueAtInstant
    instantReferencesAndValueArray = [...instantReferencesAndValueArray]
    instantReferencesAndValueArray[index] = {
      ...instantReferencesAndValueArray[index],
      valueAtInstant,
    }

    updateParameter()
  }

  function deleteValueAtInstant(index: number) {
    instantReferencesAndValueArray = [...instantReferencesAndValueArray]
    instantReferencesAndValueArray.splice(index, 1)

    updateParameter()
  }

  function updateParameter(): void {
    const referencesByInstant: { [instant: string]: Reference[] } = {}
    const values: { [instant: string]: ValueAtInstant } = {}
    for (const {
      instant,
      references,
      valueAtInstant,
    } of instantReferencesAndValueArray) {
      if (references.length > 0) {
        referencesByInstant[instant] = references
      }
      if (valueAtInstant !== undefined) {
        values[instant] = valueAtInstant
      }
    }
    parameter = { ...parameter }
    if (Object.keys(referencesByInstant).length > 0) {
      parameter.reference = referencesByInstant
    }
    if (Object.keys(values).length > 0) {
      parameter.values = values as ValueParameter["values"]
    }
  }
</script>

<div>
  <div class="my-auto mb-4 flex">
    <!--Colonne 1 présentant les valeurs-->
    <div class="mr-2 w-2/3 flex-col items-center">
      <div class="mb-2 flex-col ">
        {#each [...iterToLimit(iterArrayWithErrors(instantReferencesAndValueArray, errors), showAll ? null : 3)] as [{ instant, references, valueAtInstant }, error], index}
          <div class="mb-4 flex items-start">
            <div class="w-full rounded border bg-gray-100 ">
              <div class="p-2">
                <label class="mt-1 text-base text-gray-600">
                  Valeur en vigueur depuis
                  <input
                    class="rounded bg-white p-1 font-serif text-sm font-bold"
                    max="{new Date().getFullYear() + 20}-01-01"
                    min="1900-01-01"
                    on:change={(event) => changeInstant(index, event)}
                    type="date"
                    value={instant}
                  />
                  {#if showErrors && error?.[0] !== undefined}
                    <p>{error[0]}</p>
                  {/if}
                </label>
              </div>

              <div class="mb-4 p-2 text-xs text-gray-500">
                {#if valueAtInstant !== undefined}
                  <ValueAtInstantEdit
                    date={instant}
                    errors={errorAsKeyValueDictionary(error?.[1])}
                    on:change={(event) => changeValueAtInstant(index, event)}
                    {parameter}
                    {showErrors}
                    {valueAtInstant}
                  />
                {/if}
              </div>
              <div class="text-xs text-gray-500 ">
                <ReferencesEdit
                  errors={errorAsKeyValueDictionary(error?.[1])}
                  on:change={(event) => changeReferences(index, event)}
                  {references}
                  {showErrors}
                />
              </div>
            </div>
            <Button
              class="ml-1 !border-0 !p-1"
              color="red"
              on:click={() => deleteValueAtInstant(index)}
              outline
              pill
              title="Supprimer la date et sa valeur"
              type="button"
            >
              <iconify-icon class="text-2xl" icon={mdiDelete} />
            </Button>
          </div>
        {/each}
      </div>
      {#if instantReferencesAndValueArray.length > 3}
        <button
          class="ml-8 mb-4 flex items-center rounded bg-gray-100 px-5 py-2 text-sm uppercase text-black shadow-md hover:bg-gray-300"
          on:click={() => (showAll = !showAll)}
          type="button"
        >
          {#if showAll}
            <!-- material icons - Expand Less -->
            <svg
              class="mr-1 inline fill-current"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
              ><path d="M0 0h24v24H0z" fill="none" /><path
                d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"
              /></svg
            >
          {:else}
            <!-- material icons - Expand More -->
            <svg
              class="mr-1 inline fill-current"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
              ><path d="M0 0h24v24H0z" fill="none" /><path
                d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"
              /></svg
            >
          {/if}
          {#if showAll}Masquer{:else}Montrer tout l'historique des valeurs{/if}</button
        >
      {/if}
    </div>
    <!--Colonne 2 pour ajouter un paramètre ou valider les dernières valeurs-->
    <div class="ml-2 w-1/3">
      <Button
        color="alternative"
        on:click={addInstantReferencesAndValue}
        type="button"
      >
        <iconify-icon class="mr-1 text-2xl" icon={materialSymbolsAddCircle} />
        Ajouter une valeur
      </Button>

      <p class="my-2 text-xs text-gray-500">Ou bien :</p>
      <label class="block">
        <input
          bind:checked={reviewed}
          class="checked rounded"
          type="checkbox"
        />
        Confirmer l'exactitude de la valeur la plus récente.
      </label>
    </div>
  </div>

  <h2 class="pt-7 pb-3 text-xl font-bold">
    Modifications avancées du paramètre :
  </h2>
  <!-- <div class="mt-4 mb-2 flex-col">
    <label class="flex text-base">
      Type de valeur&nbsp;:
      <select
        class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
        required={showErrors}
        bind:value={parameter.type}
      >
        {#if parameter.type === undefined}
          <option disabled selected value={undefined}>Sélectionnez…</option>
        {/if}
        {#each Object.values(ValueType) as valueType}
          <option value={valueType}>{labelFromValueType(valueType)}</option>
        {/each}
      </select>
      {#if showErrors && errors.type !== undefined}
        <p>{errors.type}</p>
      {/if}
    </label>
  </div> -->
  <div class="inline-flex">
    <label class="flex text-base">
      Unité de valeur par défaut&nbsp;:
      <select
        class="border-1 mx-auto ml-1 flex rounded p-1 text-sm"
        required={showErrors}
        bind:value={parameter.unit}
      >
        {#if parameter.unit === undefined}
          <option selected value={undefined}>Non précisée</option>
        {/if}
        {#each units as unit}
          <option value={unit.name}
            >{getUnitLabel(unitByName, unit.name, undefined)}</option
          >
        {/each}
      </select>
      {#if showErrors && errors.unit !== undefined}
        <p>{errors.unit}</p>
      {/if}
    </label>
  </div>
</div>
