<script lang="ts">
  import {
    auditEmptyToNull,
    auditFunction,
    auditOptions,
    auditStringToNumber,
    auditTrimString,
    laxAudit,
  } from "@auditors/core"
  import {
    ValueType,
    type MaybeBooleanValue,
    type MaybeNumberValue,
    type MaybeStringArrayValue,
    type MaybeStringByStringValue,
    type NumberValue,
    type ValueAtInstant,
    type ValueParameter,
  } from "@tax-benefit/openfisca-json-model"
  import { Input, Select } from "flowbite-svelte"
  import { createEventDispatcher } from "svelte"

  import { page } from "$app/stores"
  import { auditEditedAttribute } from "$lib/errors"
  import { getUnitLabel } from "$lib/units"

  export let date: string
  export let errors: { [key: string]: unknown }
  export let parameter: ValueParameter
  export let showErrors: boolean
  export let valueAtInstant: ValueAtInstant | undefined | null

  const dispatch = createEventDispatcher()
  const oldValueAtInstant = valueAtInstant

  $: ({ data } = $page)

  $: ({ unitByName, units } = data)

  function asMaybeNumberValue(
    value:
      | MaybeBooleanValue
      | MaybeNumberValue
      | MaybeStringArrayValue
      | MaybeStringByStringValue
      | "expected",
  ): MaybeNumberValue {
    return value as MaybeNumberValue
  }

  function asNumberValue(
    value:
      | MaybeBooleanValue
      | MaybeNumberValue
      | MaybeStringArrayValue
      | MaybeStringByStringValue
      | "expected",
  ): NumberValue {
    return value as NumberValue
  }

  function changeUnit({ target }: Event) {
    const { value } = target as HTMLSelectElement
    ;[valueAtInstant, errors] = auditEditedAttribute(
      laxAudit,
      valueAtInstant === "expected" ? { value: null } : valueAtInstant,
      "unit",
      value,
      true,
      errors,
      auditTrimString,
      auditFunction((value) => (value === "undefined" ? undefined : value)),
      auditOptions(units.map((unit) => unit.name)),
    )
    dispatch("change", valueAtInstant)
  }

  function changeValue({ target }: Event) {
    const { value } = target as HTMLInputElement
    const [validValueAtInstant, validErrors] = auditEditedAttribute(
      laxAudit,
      valueAtInstant === "expected" ? { value: null } : valueAtInstant,
      "value",
      value,
      false, // Keep { value: null } when value is an empty string.
      errors,
      auditTrimString,
      auditEmptyToNull,
      auditStringToNumber,
    )
    if (
      validErrors.unit === undefined &&
      validValueAtInstant?.unit === "/1" &&
      typeof validValueAtInstant?.value === "number"
    ) {
      validValueAtInstant.value = validValueAtInstant.value / 100
    }
    errors = validErrors
    valueAtInstant = validValueAtInstant
    dispatch("change", valueAtInstant)
  }

  function valueHasChanged(
    parameter: ValueParameter,
    oldValueAtInstant: ValueAtInstant | undefined | null,
    valueAtInstant: ValueAtInstant | undefined | null,
  ): boolean {
    switch (parameter.type) {
      case ValueType.Number:
        return (
          (valueAtInstant === "expected"
            ? null
            : asMaybeNumberValue(valueAtInstant).value ?? null) !==
          (oldValueAtInstant === "expected"
            ? null
            : asMaybeNumberValue(oldValueAtInstant).value ?? null)
        )
      default:
        console.error(`TODO: Handle parameter of type ${parameter.type}.`)
        return true
    }
  }
</script>

<!-- svelte-ignore a11y-label-has-associated-control -->
<div>
  {#if parameter.type === ValueType.Number}
    <div>
      {#if valueHasChanged(parameter, oldValueAtInstant, valueAtInstant)}
        {#if oldValueAtInstant === "expected"}
          <s>absent</s>
        {:else}
          <s class="font-serif text-base text-black"
            >{asMaybeNumberValue(oldValueAtInstant).value ?? "absent"}</s
          >
        {/if}
      {/if}
      <Input
        step="any"
        type="number"
        on:change={changeValue}
        value={valueAtInstant === "expected"
          ? null
          : (errors.unit === undefined &&
            valueAtInstant?.unit === "/1" &&
            typeof valueAtInstant.value === "number"
              ? parseFloat(
                  (asNumberValue(valueAtInstant).value * 100).toFixed(8),
                ) // trick to round value * 100
              : asMaybeNumberValue(valueAtInstant).value) ?? null}
      />
      {#if showErrors && errors.value !== undefined}
        <p>{errors.value}</p>
      {/if}
    </div>
    <div>
      <Select
        on:blur={changeUnit}
        on:change={changeUnit}
        placeholder="Choisissez une unité…"
        value={asMaybeNumberValue(valueAtInstant).unit}
      >
        <option value={undefined}>
          {#if parameter.unit == null}Non précisée{:else}{getUnitLabel(
              unitByName,
              parameter.unit,
              date,
            )}
          {/if}</option
        >
        {#each units as unit}
          {#if unit.name !== parameter.unit}
            <option value={unit.name}
              >{getUnitLabel(unitByName, unit.name, date)}</option
            >
          {/if}
        {/each}
      </Select>
      {#if showErrors && errors.unit !== undefined}
        <p>{errors.unit}</p>
      {/if}
    </div>
  {:else}
    TODO
  {/if}
</div>
