<script lang="ts">
  import mdiChatAlert from "@iconify-icons/mdi/chat-alert"
  import mdiCheck from "@iconify-icons/mdi/check"
  import { ParameterClass } from "@tax-benefit/openfisca-json-model"
  import { A, Toast } from "flowbite-svelte"

  import ParameterView from "$lib/components/parameters/ParameterView.svelte"
  import { asNodeParameter } from "$lib/parameters"

  import type { PageData } from "./$types"

  export let data: PageData
</script>

<svelte:head>
  {#if data.embeddedParameter.name === ""}
    <title>{data.appTitle}</title>
  {:else}
    <title>{data.embeddedParameter.name} | {data.appTitle}</title>
  {/if}
</svelte:head>

{#if data.merge_request_url !== undefined}
  <Toast color="green" class="my-2">
    <svelte:fragment slot="icon">
      <iconify-icon icon={mdiCheck} />
      <span class="sr-only">Coche</span>
    </svelte:fragment>
    Votre demande de modification a été transmise. Vous pouvez <A
      href={data.merge_request_url}
      rel="noreferrer"
      target="_blank">suivre son avancement</A
    >.
  </Toast>
{/if}
{#if data.warning !== undefined}
  <Toast class="my-2">
    <svelte:fragment slot="icon">
      <iconify-icon icon={mdiChatAlert} />
      <span class="sr-only">Avertissement</span>
    </svelte:fragment>
    {data.warning}
  </Toast>
{/if}

<ParameterView
  embeddedParameter={data.embeddedParameter}
  parameter={data.fileParameter === undefined
    ? data.embeddedParameter
    : data.fileParameter.class === ParameterClass.Node
    ? {
        ...data.fileParameter,
        children: asNodeParameter(data.embeddedParameter).children,
      }
    : data.fileParameter}
/>
