<script lang="ts">
  import "../app.postcss"

  import mdiFileTreeOutline from "@iconify-icons/mdi/file-tree-outline"
  import mdiMagnify from "@iconify-icons/mdi/magnify"
  import {
    ParameterClass,
    type Parameter,
  } from "@tax-benefit/openfisca-json-model"
  import {
    Button,
    Modal,
    Navbar,
    NavBrand,
    NavLi,
    NavUl,
    NavHamburger,
  } from "flowbite-svelte"
  import "iconify-icon"
  import MiniSearch from "minisearch"

  import { page } from "$app/stores"
  import Search from "$lib/components/Search.svelte"

  import type { LayoutData } from "./$types"

  export let data: LayoutData

  let openSearchModal = false
  let q = ""
  const { appTitle, rootParameter } = data

  const miniSearch = new MiniSearch({
    fields: ["description", "id", "short_label"],
    idField: "name",
    searchOptions: {
      boost: {
        description: 4,
        id: 1,
        short_label: 1,
      },
      fuzzy: 0.2,
      prefix: true,
      weights: {
        fuzzy: 0.5,
        prefix: 0.75,
      },
    },
    storeFields: ["name"],
  })
  for (const parameter of walkParameters(rootParameter)) {
    miniSearch.add(parameter)
  }

  $: ({ url } = $page)

  $: ({ pathname } = url)

  function* walkParameters(
    parameter: Parameter,
    ids: string[] = [],
  ): Generator<Parameter, void, unknown> {
    yield {
      id: ids[ids.length - 1] ?? "",
      name: ids.join("."),
      ...parameter,
    }
    switch (parameter.class) {
      case ParameterClass.Node:
        if (parameter.children !== undefined) {
          for (const [id, child] of Object.entries(parameter.children)) {
            yield* walkParameters(child, [...ids, id])
          }
        }
        break
      default:
    }
  }
</script>

<Navbar let:hidden let:toggle>
  <NavBrand href="/">
    <img src="/ipp_logo.png" class="mr-3 h-6 sm:h-9" alt="Logo IPP" />
    <span
      class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
      >{appTitle}</span
    >
  </NavBrand>

  <div class="flex md:order-2">
    <Button on:click={() => (openSearchModal = true)} size="sm">
      <iconify-icon class="align-[-0.3rem] text-lg" icon={mdiMagnify} />
      Rechercher
    </Button>
    <NavHamburger on:click={toggle} />
  </div>

  <NavUl {hidden}>
    <NavLi href="/" active={pathname === "/"}>
      <iconify-icon class="align-[-0.3rem] text-lg" icon={mdiFileTreeOutline} />
      Paramètres
    </NavLi>
    <!-- <NavLi href="/recherche" active={pathname === "/recherche"}>
      <iconify-icon class="align-[-0.3rem] text-lg" icon={mdiMagnify} />
      Recherche
    </NavLi> -->
    <NavLi href="https://www.ipp.eu/baremes-ipp/" target="_blank">
      Barèmes IPP
    </NavLi>
  </NavUl>
</Navbar>

<div class="mx-auto max-w-3xl 2xl:max-w-4xl">
  <slot />
</div>
<Modal title="Recherche" bind:open={openSearchModal} autoclose>
  <Search {miniSearch} bind:open={openSearchModal} bind:q />
</Modal>
