<script lang="ts">
  /// Code derived from @magidoc/plugin-svelte-prismjs
  /// https://github.com/magidoc-org/magidoc/blob/main/packages/plugins/svelte-prismjs/src/lib/components/Prism.svelte
  /// MIT License

  // Before Prism import:
  if (typeof window !== "undefined") {
    window.Prism = window.Prism || {}
    window.Prism.manual = true
  }
  import Prism from "prismjs"

  /**
   * The target language to use. This language must be imported manually from prism to be activated.
   */
  export let language: string | undefined
  /**
   * The source code to highlight.
   */
  export let source: string

  let root: HTMLElement

  function highlight(
    root: HTMLElement,
    language: string | undefined,
    source: string,
  ) {
    // The _ (language) parameter is important to force Svelte to reload if the language change
    // This is the way found to make PrismJS re-render on change
    // and also keep the toolbar working
    root.textContent = source
    // Clear class list and add the new language in it
    // Looks hacky, but since this component can be re-used,
    // it is important that the class is added before highlighting,
    // which is not always the case if done inside the html template.
    root.classList.forEach((item) => root.classList.remove(item))
    if (language) {
      root.classList.add(`language-${language}`)
    }
    Prism.highlightElement(root)
  }
  $: {
    if (root && Prism) {
      highlight(root, language, source)
    }
  }
</script>

<pre><code bind:this={root} /></pre>
