<script lang="ts">
  import mdiCloseThick from "@iconify-icons/mdi/close-thick"
  import mdiMagnify from "@iconify-icons/mdi/magnify"
  import { iterParameterAncestors } from "@tax-benefit/openfisca-json-model"
  import type MiniSearch from "minisearch"
  import type { SearchResult } from "minisearch"

  import { page } from "$app/stores"
  import { getEmbeddedParameter } from "$lib/parameters"

  export let miniSearch: MiniSearch
  export let open: boolean
  export let q: string

  let suggestions: SearchResult[] = []

  $: ({ rootParameter } = $page.data)

  $: handleQChange(q)

  function handleQChange(q: string): void {
    suggestions = q ? miniSearch.search(q) : []
  }
</script>

<form>
  <label
    for="search"
    class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Recherche</label
  >
  <div class="relative">
    <div
      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
    >
      <iconify-icon class="align-[-0.3rem] text-lg" icon={mdiMagnify} />
    </div>
    <div class="relative w-full">
      <input
        autocomplete="off"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        id="q"
        name="q"
        placeholder="Paramètre recherché…"
        required
        type="search"
        bind:value={q}
      />
      <button
        class="absolute top-0 right-0 p-4 text-sm font-medium text-red-700 hover:text-red-500"
        on:click={() => (q = "")}
        type="button"
      >
        <iconify-icon class="align-[-0.3rem] text-lg" icon={mdiCloseThick} />
      </button>
    </div>
  </div>
</form>

{#if suggestions.length > 0}
  <ul class="mt-8 flex-col space-y-6">
    {#each suggestions.slice(0, 20) as suggestion}
      {@const parameter = getEmbeddedParameter(rootParameter, suggestion.name)}
      <li>
        <a href="/{suggestion.name}" on:click={() => (open = false)}>
          <div
            class="text-lg font-medium text-blue-600 hover:underline dark:text-blue-500"
          >
            {parameter?.description ?? parameter?.title}
          </div>
          <div title={suggestion.name}>
            {#each [...iterParameterAncestors(parameter)] as ancestor, index}
              {#if index > 0}
                <span class="mx-2 text-gray-600">&gt;</span>
              {/if}
              {ancestor.short_label ?? ancestor.id?.replace(/_/g, " ")}
            {/each}
          </div>
        </a>
      </li>
    {/each}
  </ul>
{/if}
